* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section.box-section-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;

  .box-content-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    border: 1px solid #76c8f1;
    border-radius: 20px;
    padding: 50px 20px;

    h1 {
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      font-family: "Lilita One", serif;
    }

    .box-formulario-contato {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 500px;
      gap: 10px;

      input {
        width: 100%;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(197, 197, 197);
      }
      input:hover {
        border: 1px solid #76c8f1;
      }

      .btn-cont {
        width: 150px;
        height: 30px;
        background-color: #9ecbe1;
        border: none;
        border-radius: 5px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
      }
      .btn-cont:hover {
        background-color: #76c8f1;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  section.box-section-contato {
    padding: 50px 20px;
    .box-content-contato {
      .box-formulario-contato {
        width: 100%;
      }
    }
  }
}
